/*=== google font file input start ===*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/*=== google font file input end ===*/

/*=== common css start ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F3F7;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}
/*=== common css end ===*/

/*=== about section css start ===*/
.about-section {
    padding-top: 60px;
}
.about-section .about-info {
    padding-top: 20px;
    padding-bottom: 50px;
}
.about-section .about-info .about-menu-section {
    border: 1px solid #fd5b4173;
    height: 350px;
}
.about-section .about-info .about-menu-section h5 {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #444;
    margin: 0px;
    border-bottom: 2px solid #fd5b4173;
    padding: 5px 10px;
}
.about-section .about-info .about-menu-section .about-menu {
    margin: 0px;
}
.about-section .about-info .about-menu-section .about-menu li {
    line-height: 28px;
}
.about-section .about-info .about-menu-section .about-menu li:hover {
    background: #fd6e4fe6;
    transition: all .3s linear;
}
.about-section .about-info .about-menu-section .about-menu li a {
    font-weight: 400;
    font-size: 15px;
    color: #333;
    margin: 0px;
    text-transform: capitalize;
    padding-left: 10px;
    display: block;
}
.about-section .about-info .about-menu-section .about-menu li a:hover{
    color: #fff;
    transition: all .3s linear;
}
.about-section .about-info .about-description{}
.about-section .about-info .about-description h3 {
    margin: 0px;
    background: #fd6e4f;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.about-section .about-info .about-description .about-content{}
.about-section .about-info .about-description .about-content p {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    padding: 10px 0;
}

/*=== about section css end ===*/