/* google fonts input */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* google fonts input end */

/* common css section start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F3F7;
}

a{
      text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

/* common css section start */


.forgot-password-section{}
.forgot-password-section .forgot-password {
    margin-top: 80px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.forgot-password-section .forgot-password .password-title {
    background: #FFF;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 3px solid #fd6e4f96;
}
.forgot-password-section .forgot-password .password-title h4 {
    font-weight: 500;
    font-size: 30px;
    color: #444;
    letter-spacing: .5px;
    line-height: 40px;
    text-transform: uppercase;
}
.forgot-password-section .forgot-password .password-title p {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    margin: 0px;
}
.forgot-password-section .forgot-password .password-form {
    background: #FFF;
    padding: 35px 25px;
    margin-bottom: 100px;
}
.forgot-password-section .forgot-password .password-form .phone-number{}
.forgot-password-section .forgot-password .password-form .phone-number label {
    margin: 0px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    padding-bottom: 4px;
}
.forgot-password-section .forgot-password .password-form .phone-number input {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
}
.forgot-password-section .forgot-password .password-form .btn {
    background: #03233a;
    color: #fff;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.forgot-password-section .forgot-password .password-form .btn:hover{
    background: #fd6e4f;
    transition: all .3s linear;
}