/* google fonts input */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* google fonts input end */

/* common css section start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F3F7;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* common css section end */



/* Product details css start */

.product-details-section {}

.product-details-section .product-details {
    padding-top: 60px;
}

.product-details-section .product-details .single-section {}

.product-details-section .product-details .single-section .product-head-img {
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.product-details-section .product-details .single-section .product-head-img img {
    height: 450px;
    padding: 10px;
}

.product-details-section .product-details .single-section .product-sub-img {
    border: 1px solid #ddd;
    margin-top: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.product-details-section .product-details .single-section .product-sub-img ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

.product-details-section .product-details .single-section .product-sub-img ul li {
    padding: 0px;
    border: 2px solid #fd6e4f82;
    margin: 10px 5px;
}

.product-details-section .product-details .single-section .product-sub-img ul li a {}

.product-details-section .product-details .single-section .product-sub-img ul li a img {
    width: 70px;
}

.product-discription {
    padding-left: 15px;
}

.product-discription h4 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
    padding-bottom: 30px;
    letter-spacing: .5px;
}

.product-discription .brand a span {
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
}

.product-discription .brand span {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #fd6e4f;
}

.product-discription .sku {}

.product-discription .sku p {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    margin: 0;
    display: inline-block;
}

.product-discription .sku span {
    font-weight: 400;
    font-size: 16px;
    color: #fd6e4f;
    text-transform: capitalize;
}

.popular-categories-section .popular-categories .product-cart {
    margin: 15px 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.product-discription .stock p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #333;
    display: inline-block;
}

.product-discription .stock span {
    font-weight: 400;
    font-size: 16px;
    color: #fd6e4f;
    text-transform: capitalize;
}

.product-discription .review {
    padding-bottom: 30px;
}
.product-discription .review .title h6 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #444;
    letter-spacing: .5px;
    margin: 0;
}
.product-discription .review .title {
    display: inline-block;
    margin-right: 5px;
}
#review .submit-btn {
    padding-top: 15px;
}

#review .submit-btn a {
    border: none;
    border-radius: 0px;
    background: #fd6e4f;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.product-discription .review a {}

.product-discription .review a .fa {
    font-size: 18px;
    color: #03233a;
}

.product-discription .review a .fa:hover {
    color: #fd6e4f;
    transition: all .3s linear;
}

.product-discription .quentity {
    padding-bottom: 30px;
}

.product-discription .quentity h4 {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #444;
}

.product-discription .quentity .quentity-option {
    padding-top: 10px;
}

.product-discription .quentity .quentity-option .qtyminus {
    font-size: 18px;
    padding: 2px 14px;
    background: #03233a;
    border: none;
    color: #fff;
    cursor: pointer;
}

.product-discription .quentity .quentity-option #quantity {
    text-align: center;
    padding: 2px 5px;
    border: 1px solid #fd6e4f91;
    margin: 0 4px;
}

.product-discription .quentity .quentity-option .qtyplus {
    font-size: 18px;
    padding: 2px 12px;
    background: #03233a;
    border: none;
    color: #fff;
    cursor: pointer;
}

.product-discription .checkout-btn {}

.product-discription .checkout-btn .btn {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background: #03233a;
    border: none;
    border-radius: 0px;
    color: #fff;
}

.product-discription .checkout-btn .btn:hover {
    background: #fd6e4f;
    transition: all .3s linear;
}

.product-discription .social-link {
    margin-top: 30px;
}

.product-discription .social-link a {
    font-size: 18px;
    background: #03233a;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.social-link .title h4 {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #444;
    padding: 0;
    margin-bottom: 8px;
}
/* Product details css start */


/* Product details css start */
#product-review-section {
    padding-top: 50px;
}

.product-review .nav .nav-item .nav-link {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
}

.product-review .nav .nav-item .nav-link:hover {
    border-color: #fd6e4f96;
    border-radius: 0px;
    transition: all .4s linear;
}

.product-review .nav .nav-item .active {
    background: #fd6e4f;
    border-radius: 0px;
    color: #fff;
    transition: all .3s linear;
    border-color: #fd6e4f96;
}

#product-review-section .product-review .tab-content {}

#product-review-section .product-review .tab-content #Product-details {
    margin: 10px 0;
}

#product-review-section .product-review .tab-content #Product-details h4 {
    font-weight: 500;
    font-size: 18px;
    color: #444;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
}

#product-review-section .product-review .nav-tabs {
    border-bottom: 2px solid #fd6e4f96;
}

#product-review-section .product-review .tab-content #Product-details .product-name {}

#product-review-section .product-review .tab-content #Product-details .product-name h4 {
    font-weight: 600;
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: .5px;
}

#product-review-section .product-review .tab-content #Product-details .product-list {
    padding-top: 20px;
}

#product-review-section .product-review .tab-content #Product-details .product-list ul {
    margin: 0px;
}

#product-review-section .product-review .tab-content #Product-details .product-list ul li {
    margin: 0;
    padding: 0;
}

#product-review-section .product-review .tab-content #Product-details .product-list ul li b {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
}

#product-review-section .product-review .tab-content #Product-details .product-list ul li span {
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: #333;
    padding-left: 5px;
}

#product-review-section .product-review .tab-content #review {}

#product-review-section .product-review .tab-content #review h6 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    padding: 10px 0;
}

#product-review-section .product-review .tab-content #review textarea {
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    padding: 10px;
    text-transform: capitalize;
}

#product-review-section .product-review .tab-content #review p {
    margin: 0;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    float: left;
    padding-right: 10px;
}

#product-review-section .product-review .tab-content #review .reting {
    padding-bottom: 12px;
    padding-top: 1px;
}

#product-review-section .product-review .tab-content #review .reting a {}

#product-review-section .product-review .tab-content #review .reting a .fa {
    color: #03233a;
    font-size: 18px;
}

#product-review-section .product-review .tab-content #review .reting a .fa:hover {
    color: #fd6e4f;
    transition: all .3s linear;
}



/* Product details css start */
.related-product-section {
    padding-top: 60px;
    position: relative;
}
.related-product-section .title{
    margin-bottom: 10px;
}
.related-product-section .title h4 {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #444;
    padding-bottom: 5px;
    border-bottom: 2px solid #fd6e4f96;
    margin: 0;
}
.related-product .product-grid {
    border: 1px solid #ddd;
    margin: 0 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.related-product .product-grid .product-image {
    position: relative;
    overflow: hidden;
}

.related-product .product-grid .product-image a.image {
    display: block;
}

.related-product .product-grid .product-image img {
    width: 100%;
    height: auto;
}

.related-product .product-grid .product-image .product-img-1 {
    transition: all 0.5s;
}

.related-product .product-grid:hover .product-image .product-img-1 {
    opacity: 0;
    transform: scale(1.1);
    transform-origin: left bottom;
}

.related-product .product-grid .product-image .product-img-2 {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transform-origin: top right;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.related-product .product-grid:hover .product-image .product-img-2 {
    opacity: 1;
    transform: scale(1);
}

.related-product .product-grid .product-hot-label,
.related-product .product-grid .product-discount-label {
    color: #fff;
    background: #35ce4a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 2px 3px;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: all .3s ease;
}

.related-product .product-grid .product-discount-label {
    background: #6133b6;
}

.related-product .product-grid .product-links {
    width: 135px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

.related-product .product-grid:hover .product-links {
    opacity: 1;
    bottom: 30px;
}

.related-product .product-grid .product-links li {
    display: inline-block;
    margin: 0 3px;
}

.related-product .product-grid .product-links li a {
    color: #232323;
    background: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    transition: all 0.3s ease 0s;
}

.related-product .product-grid .product-links li a:hover {
    color: #fff;
    background: #fd6e4f;
}

.related-product .product-grid .product-content {
    text-align: center;
    padding: 15px 15px 0;
    position: relative;
}

.related-product .product-grid .add-to-cart {
    color: #fff;
    background: #fd6e4f;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 65%;
    padding: 8px 4px;
    opacity: 0;
    transform: translateX(-50%) translateY(0);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.related-product .product-grid .add-to-cart:hover {
    background: #03233a;
}

.related-product .product-grid:hover .add-to-cart {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

.related-product .product-grid .add-to-cart i {
    margin: 0 5px 0 0;
}

.related-product .product-grid .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 7px;
}

.related-product .product-grid .title a {
    color: #444;
    transition: all 0.3s ease;
}

.related-product .product-grid .rating {
    padding: 0;
    margin: 0 0 8px;
    list-style: none;
}

.related-product .product-grid .rating li {
    color: #fecc2f;
    font-size: 13px;
}

.related-product .product-grid .rating li.far {
    color: #999999;
}

.related-product .product-grid .price {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    transition: all 0.3s;
}

.related-product .product-grid:hover .title a,
.related-product .product-grid:hover .rating,
.related-product .product-grid:hover .price {
    opacity: 0;
}

.related-product .product-grid .price span {
    color: #ccc;
    font-weight: 500;
    text-decoration: line-through;
    margin: 0 5px 0 0;
    display: inline-block;
}

.related-product-section .related-product .owl-nav button span {
    font-size: 25px;
    line-height: 25px;
}
.related-product-section .related-product .owl-nav .disabled{
    opacity: 1;
}
.related-product-section .related-product .owl-nav button {
    background: #03233a;
    border-radius: 0px;
    padding: 0px 10px !important;
    color: #fff;
}
.related-product-section .related-product .owl-nav button:focus{
    outline: none;
}
.related-product-section .related-product .owl-nav button:hover{
    background: #fd6e4f;
    transition: all .3s linear;
}
.related-product-section .related-product .owl-nav {
    position: absolute;
    right: 0;
    top: -50px;
    margin: 0;
}



/* Product details css start */
